<header>
  <div class="logo-container">
    {{#link-to 'products' }}<img class="logo-img" src="/assets/images/hatchling-logo.svg" alt="hatchling-logo" />{{/link-to}}
  </div>

  <div class="search-cart-login-container">
    {{#link-to "cart" class="cart"}}<img src="/assets/images/cart-icon.svg" alt="cart" />{{/link-to}}
    {{#if session.isAuthenticated}}
      <a {{action 'logout'}}>Logout</a>
    {{else}}
      {{#link-to "login" class="login"}}Log In{{/link-to}}
      {{#link-to "register" class="login"}}Register{{/link-to}}
    {{/if}}
  </div>
</header>

<nav class="sidebar">
  <h1>Kategorien</h1>

  <h2>{{#link-to "girls"}}Mädchen{{/link-to}}</h2>
  <ul>
    <li>{{#link-to "girl-cat" "strampler"}}Strampler{{/link-to}}</li>
    <li>{{#link-to "girl-cat" "kleider"}}Kleider{{/link-to}}</li>
  </ul>

  <h2>{{#link-to "boys"}}Jungs{{/link-to}}</h2>
  <ul>
    <li>{{#link-to "boy-cat" "strampler"}}Strampler{{/link-to}}</li>
    <li>{{#link-to "boy-cat" "hosen"}}Hosen{{/link-to}}</li>
  </ul>
</nav>
<div class="content">
{{outlet}}
</div>
