<header>
  <div class="logo-container">
    <img class="logo-img" src="/assets/images/hatchling-logo.svg" alt="hatchling-logo" />
    <h1 class="logo-title">hatchling<span>.de</span></h1>
  </div>

  <div class="search-cart-login-container">
    <input type="text" name="search" placeholder="Suche">
    <a href="#" class="cart"><img src="" alt="" /></a>
    <a href="#">Log In</a>
  </div>
</header>

<nav class="sidebar">
  <h1>Kategorien</h1>

  <h2>Mädchen</h2>
  <ul>
    <li>T-Shirts &amp; Oberteile</li>
    <li>Pullover</li>
    <li>Hosen</li>
    <li>Strampler</li>
    <li>Kleider</li>
  </ul>

  <h2>Jungs</h2>
  <ul>
    <li>T-Shirts &amp; Oberteile</li>
    <li>Pullover</li>
    <li>Hosen</li>
    <li>Strampler</li>
    <li>Kleider</li>
  </ul>
</nav>
