<header>
  <div class="logo-container">
    <img class="logo-img" src="/assets/images/hatchling-logo.svg" alt="hatchling-logo" />
  </div>

  <div class="search-cart-login-container">
    <input type="text" name="search" placeholder="Suche">
    {{#link-to "cart" class="cart"}}<img src="/assets/images/cart-icon.svg" alt="cart" />{{/link-to}}
    {{#if session.isAuthenticated}}
      <a {{action 'logout'}}>Logout</a>
    {{else}}
      {{#link-to "login" class="login"}}Log In{{/link-to}}
    {{/if}}
  </div>
</header>

<nav class="sidebar">
  <h1>Kategorien</h1>

  <h2>Mädchen</h2>
  <ul>
    <li>{{#link-to "products"}}T-Shirts &amp; Oberteile{{/link-to}}</li>
    <li>{{#link-to "products"}}Pullover{{/link-to}}</li>
    <li>{{#link-to "products"}}Hosen{{/link-to}}</li>
    <li>{{#link-to "products"}}Strampler{{/link-to}}</li>
    <li>{{#link-to "products"}}Kleider{{/link-to}}</li>
  </ul>

  <h2>Jungs</h2>
  <ul>
    <li>{{#link-to "products"}}T-Shirts &amp; Oberteile{{/link-to}}</li>
    <li>{{#link-to "products"}}Pullover{{/link-to}}</li>
    <li>{{#link-to "products"}}Hosen{{/link-to}}</li>
    <li>{{#link-to "products"}}Strampler{{/link-to}}</li>
    <li>{{#link-to "products"}}Kleider{{/link-to}}</li>
  </ul>
</nav>
<div class="content">
{{outlet}}
</div>
