<!-- ca033 -->

<h1 style="text-transform: capitalize">{{model.firstObject.category.name}}</h1>
<ul class="product-list">
{{#each model as |product|}}
<li>
  {{#product-tile product=product}}
  {{/product-tile}}
  </li>
{{/each}}
</ul>
